html {
  height: 100%;
}

body {
  min-height: 100%;
  background: url(images/country.jpeg) no-repeat center center fixed;
  background-size: cover;
}

.menu {
  color: black !important;
  text-decoration: none !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.burger {
  height: 66%;
  width: 15%;
  transition: all .2s ease-in-out;
}

.burger:hover {
  transform: scale(1.1);
}

.logo {
  font-family: 'Pinyon Script', cursive;
  font-size: 3.4em;
}

hr {
  margin: 0;
  border-color: black !important;
  width: 8%;
  border-width: 1px;
}

ul {
  width: 95%;
  border-radius: 3px;
}

.nav-link {
  width: 100%;
  text-align: left !important;
}

.bot-menu {
  font-family: 'Cardo', serif;
  font-size: 16px;
  color: #734511 !important;
  font-weight: 900;
}

.border-dark {
  border-color: white !important;
}

.border {
  border-color: white !important;
}

li {
  transition: background 0.5s ease-in-out;
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, white 50%, #2C2C2B 50%);
  transition: background-position .2s;
}

li:hover {
  background-position: 0 100%;
}

li a:hover {
  color: white !important;
}


.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: absolute;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  right: 0;
  background-color: #111;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */

.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.modal-back {
  background-color: white;
}

.modal-close {
  font-size: 40px;
}

.modal-text {
  font-family: 'Cardo', serif;
}

.modal-para {
  font-family: 'Cardo', serif;
  color: #734511 !important;
  font-size: 18px;
  font-weight: 600;
}

.winery {
  width:100%;
}
