
html {
  height: 100%;
}

body {
  min-height: 100%;
  background: url(images/country.jpeg) no-repeat center center fixed;
  background-size: cover;
}

a {
  color: black !important;
  text-decoration: none !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.burger {
  height: 66%;
  width: 11%;
  transition: all .2s ease-in-out;
}
.burger:hover { 
  transform: scale(1.1);
}

.logo {
  font-family: 'Pinyon Script', cursive;
  font-size: 3.4em;
}

hr {
margin: 0;
border-color: black !important;
width: 8%;
border-width: 1px;
}

ul {
  width: 95%;
  border-radius:3px;
}

.nav-link {
  width: 100%;
  text-align: left !important;
}

.bot-menu {
  font-family: 'Cardo', serif;
  font-size: 16px;
  color: #734511 !important;
}

.border-dark {
  border-color: white !important;
}

.border {
  border-color: white !important;
}

li {
    transition: background 0.5s ease-in-out;
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, white 50%, #2C2C2B 50%);
    transition: background-position .2s;
}

li:hover {
	background-position: 0 100%;
}

li a:hover {
  color:white !important;
}
